django>=5.0
djangorestframework
drf-spectacular
django-environ
django-cors-headers
pymysql
cryptography
django-redis
celery
redis
pillow
requests>=2.31.0
django-allauth
django-tailwind
python-dotenv
easyocr
pyzbar
opencv-python-headless
ollama
django-allauth[socialaccount]
vt-py
channels>=4.0.0
channels-redis>=4.2.0
daphne
beautifulsoup4>=4.12.0
django-otp
pyotp
qrcode
django-turnstile
python-whois
dnspython>=2.4.2
ipwhois
phonenumbers
einops
markdown
faster-whisper
soundfile
whitenoise
faiss
pywebpush>=2.0.3